html {
  font-size: 5vw;
}

@media (min-width: 1024px) {
  html {
    font-size: 51px;
  }
}

body {
  background-image: url("../images/background.webp");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding: 0.5rem;
}

h1 {
  font-size: 3.8rem;
  text-align: center;
  margin: 0 1rem 0 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

.section-title {
  font-size: 4rem;
  text-align: center;
  margin: 2rem 0 1rem 0;
}

footer {
  text-align: center;
  width: 100%;
  font-size: 0.7rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.content {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  min-width: 400px;
  margin: 0 auto;
}

.section {
 margin-top: 1rem;
}

.text-kr {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poster-area {
  box-sizing: border-box;
  border: 0.6rem solid white;
  padding: 1rem 0 1rem 0;
}

.sponsor {
  text-align: center;
  background-color: #fff;
  padding-top: 8pt;
}

.text-sponsor-pr {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  font-style: normal;
  color: #111;
  margin-top: 0;
  margin-bottom: 1rem;
}

.sponsor-logo {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 200pt;
  height: 70pt;
  padding: 0;
}

.mpot {
  background-image: url("../images/logo_mpot.png");
}

.sfac {
  background-image: url("../images/logo_sfac.png");
}

.verticalflip {
  text-align: center;
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
  font-weight: 600;
  height: 2.4em;
}

.team-pr {
  box-sizing: border-box;
  margin-top: 2rem;
}

.team-name {
  /* display: inline-block; */
  background-color: #fff;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  font-style: normal;
  color: #111;
  padding: 0 10px 0 10px;
  margin-right: 60px;
  width: fit-content;
  border-bottom: 2px solid black;
}

.team-member {
  background-color: #fff;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  font-size: 0.7rem;
  font-style: normal;
  color: #111;
  text-align: right;
  padding: 0 10px 0 10px;
  margin-left: 60px;
}

.team-program {
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 600;
  text-align: center;
  margin-top: 0.8rem;
  font-size: 1rem;
  font-style: normal;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 10,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:active {
  text-decoration: underline;
  background-color: #fff;
  color: #111;
}

a:visited {
  text-decoration: none;
  color: #fff;
}

.adress {
  text-align: center;
  font-size: 1rem;
}

.star {
  display: none;
  border-bottom: 0.3rem solid white;
}

.bang {
  display: inline-block;
}